<fb:fbml>
<%= stylesheet_link_tag 'byob_style' %>
<style type="text/css">
<!--
.style1 {font-size: 18px}
.style2 {color: #FF8518}
.style3 {color: #FFFFFF}
.style5 {color: #0033CC}
-->
</style>

<script>
  function get_email_perm(){
    Facebook.showPermissionDialog('email', 'update_db_with_email_perm');
  }

  function update_db_with_email_perm(){
    document.setLocation('<%= mailings_add_url %>');
  }
</script>

<div id="byob_graphics">
  <div id="graphic_1"><%= image_tag 'layout/roller logo.png' %></div>  
  <div id="graphic_2"><%= image_tag 'layout/boylogo.png' %></div>
  <div id="graphic_3"><%= image_tag 'layout/carlogo.png' %></div>
</div>

<div id="byob_home_nav">
  <%= link_to image_tag('layout/home3.png', :id =>"home_link"), 
  {:controller => "byob", :action =>"index"}%>

  <%= link_to image_tag('layout/ridelisting1.png', :id =>"listing_link",
  :onmouseover => "document.getElementById('listing_link').setSrc('" +
  image_path('layout/ridelisting2.png') + "')",
  :onmouseout => "document.getElementById('listing_link').setSrc('" +
  image_path('layout/ridelisting1.png') + "')"), 
  index_choice_rides_path %>

  <%= link_to image_tag('layout/createride1.png', :id =>"create_link",
  :onmouseover => "document.getElementById('create_link').setSrc('" +
  image_path('layout/createride2.png') + "')",
  :onmouseout => "document.getElementById('create_link').setSrc('" +
  image_path('layout/createride1.png') + "')"),
  new_ride_path %>
</div>

<div id="byob_home_bg" style="background-image: 
  url(<%= image_path('layout/background_mid.png') %>) ;">

  <div id="bg_top">
    <%= image_tag 'layout/background_top.png' %> 
  </div>

  <div id="byob_home_content">

    <div style="display: none;">
      <fb:tabs><fb:tab-item href="#" title="dummy"></fb:tab-item></fb:tabs>
    </div>

    
    <h1><%= image_tag 'layout/applogo.png' %></h1>

    <% if flash[:notice].blank? %> 
      <h3>
        Carpooling UIUC to Anywhere ( <span class="style2">GO ILLINI!</span> )<br/>
      </h3>
      <h3 style="color: blue">
        <span class="style5">Welcome <%= fb_name @current_user, :firstnameonly => 
        true, :linked => false, :useyou => false %></span>.    
      </h3>
    <% else %>
      <div id="byob_home_fb_msg">
        <%= facebook_messages %>
      </div>
    <% end %>

    <div id="current_user_rides">

    <div class="rides_banner_your">
      <%= image_tag 'layout/yourrides.png' %> 
    </div>

      <% if @rides_driving.empty? and @rides_riding.empty? %> 
        <div class="helper_text">
          <p>You don't have any rides yet!</p>
          <p>Save money by joining a cheap ride on &quot;RIDE LISTING&quot;</p>
          <p>Make money by posting a ride on &quot;CREATE RIDES&quot;</p>
        </div>
      <% end %>

      <table>
        <% @rides_driving.each do |ride| %>
        <tr>
          <td><%= link_to ride[:ride_obj].name, 
          ride[:ride_obj] %></td>
          <td>
            <%= if ride[:ride_obj].tocampus then 
            " from- " else " to- " end %> 
            <u>
              <%=h ride[:ride_obj].place %>
            </u>
          </td>
          <td> on <u><%=h ride[:date] %></u></td>
        </tr>
        <% end %>

        <% @rides_riding.each do |ride| %>
        <tr>
          <td><%= link_to ride[:ride_obj].name, 
          ride[:ride_obj] %></td>
          <td>
            <%= if ride[:ride_obj].tocampus then 
            " from- " else " to- " end %>
            <u>
              <%=h ride[:ride_obj].place %>
            </u>
          </td>
          <td> on <u><%=h ride[:date] %></u></td>
        </tr>
        <% end %>
      </table>

    <div class="rides_banner_watched">
      <%= image_tag 'layout/watchedridesbanners.png' %> 
    </div>

      <% if @rides_watching.empty? %> 
        <div class="helper_text">
          <p>You are not watching any rides yet!</p>
          <p>Save money by joining a cheap ride on &quot;RIDE LISTING&quot;</p>
          <p>Make money by posting a ride on &quot;CREATE RIDES&quot;</p>
        </div>
      <% end %>

      <table>
        <% @rides_watching.each do |ride| %>
        <tr>
          <td><%= link_to ride[:ride_obj].name, 
          ride[:ride_obj] %></td>
          <td>
            <%= if ride[:ride_obj].tocampus then 
            "  from- " else "  to- " end %>
            <u>
              <%=h ride[:ride_obj].place %>
            </u>
          </td>
          <td> on <u><%=h ride[:date] %></u></td>
        </tr>
        <% end %>
      </table>
    </div>
  
  </div>
     <%= link_to image_tag('layout/blank.png', :id =>"blank",
  :onmouseover => "document.getElementById('blank').setSrc('" +
  image_path('layout/blank.png') + "')",
  :onmouseout => "document.getElementById('blank').setSrc('" +
  image_path('layout/blank.png') + "')"),
  '' %>
   <%= link_to image_tag('layout/YouTubebw.png', :id =>"Youtube",
  :onmouseover => "document.getElementById('Youtube').setSrc('" +
  image_path('layout/YouTube.png') + "')",
  :onmouseout => "document.getElementById('Youtube').setSrc('" +
  image_path('layout/YouTubebw.png') + "')"),
  'http://www.youtube.com/user/BeYourOwnBus' %>
  
     <%= link_to image_tag('layout/FaceBookbw.png', :id =>"FaceBook",
  :onmouseover => "document.getElementById('FaceBook').setSrc('" +
  image_path('layout/FaceBook.png') + "')",
  :onmouseout => "document.getElementById('FaceBook').setSrc('" +
  image_path('layout/FaceBookbw.png') + "')"),
  'http://www.facebook.com/sharer.php?u=apps.facebook.com%2Fbeyourownbus&t=%3CCarpooling%20made%20easy,%20carpooling%20UIUC%20to%20Anywhere%3E' %>
       <%= link_to image_tag('layout/StumbleUponbw.png', :id =>"StumbleUpon",
  :onmouseover => "document.getElementById('StumbleUpon').setSrc('" +
  image_path('layout/StumbleUpon.png') + "')",
  :onmouseout => "document.getElementById('StumbleUpon').setSrc('" +
  image_path('layout/StumbleUponbw.png') + "')"),
  'http://www.stumbleupon.com/url/www.beyourownbus.com' %>
    <%= link_to image_tag('layout/Twitterbw.png', :id =>"Twitter",
  :onmouseover => "document.getElementById('Twitter').setSrc('" +
  image_path('layout/Twitter.png') + "')",
  :onmouseout => "document.getElementById('Twitter').setSrc('" +
  image_path('layout/Twitterbw.png') + "')"),
  'http://twitter.com/home?status=is carpooling on http://www.BeYourOwnBus.com' %>
    <%= link_to image_tag('layout/Diggbw.png', :id =>"digg",
  :onmouseover => "document.getElementById('digg').setSrc('" +
  image_path('layout/Digg.png') + "')",
  :onmouseout => "document.getElementById('digg').setSrc('" +
  image_path('layout/Diggbw.png') + "')"),
  'http://digg.com/submit?url=http://www.beyourownbus.com' %>
  <%= link_to image_tag('layout/Deliciousbw.png', :id =>"Delicious",
  :onmouseover => "document.getElementById('Delicious').setSrc('" +
  image_path('layout/Delicious.png') + "')",
  :onmouseout => "document.getElementById('Delicious').setSrc('" +
  image_path('layout/Deliciousbw.png') + "')"),
  'http://delicious.com/save?jump=yes&partner=addthis&url=http%3A%2F%2Fwww.www.beyourownbus.com&title=Carpooling made easy | Carpooling uiuc to anywhere,' %>
  
  <div id="bg_bot">
    <p align="center"> 
    <span class="style3">----------</span>
    BYOB Funny math's ads (find them on your 22 CUMTD buses)<a href="http://beyourownbus.com/byobfbapp/Bflyers/bfly1.jpg" target="_blank">Promo 1</a> <a href="http://beyourownbus.com/byobfbapp/Bflyers/bfly2.jpg" target="_blank">Promo 2</a></p>
    
    <p align="center">
    <span class="style3">----------</span>
    <a href="http://www.facebook.com/group.php?gid=46118350909" target="_blank">BYOB Facebook Group</a>, <a href="http://www.facebook.com/apps/application.php?id=152117268807" target="_blank">BYOB Fan Page</a>, <a href="http://www.vimeo.com/8933827" target="_blank">Suggest a Fan Video</a></p>
   

    <% if @current_user.email_revoked and not @email_perm_prompt %>
      <p align="center">
      <span class="style3">----------</span>
        <%= link_to "Turn on email updates", mailings_add_url() %> for a better
        BYOB experience.
      </p>
    <% end %>

    <% if @email_perm_prompt %>
      <p align="center">
      <span class="style3">----------</span>
        <%= link_to_function "Turn on email updates", "get_email_perm()" %> for a better
        BYOB experience.
      </p>
    <% end %>


    <p align="center"><%= image_tag 'layout/background_bot.png' %> </p>
  </div>

</div>

<fb:fbml/>
