<fb:fbml>
<%= stylesheet_link_tag 'byob_style' %>

<div style="display: none;">
<fb:tabs><fb:tab-item href="#" title="dummy"></fb:tab-item></fb:tabs>
</div>

<%= facebook_messages %>

<h1>BYOB</h1>
<h3>Be Your Own Bus</h3>
<br/>
<h3 style="color: green">
  Welcome <%= fb_name @current_user, :firstnameonly => 
  true, :linked => false, :useyou => false %>. 
</h3>

<div id="home_choices">
  <div id="home_choices_view">
    <%= link_to image_tag("bob.png"), :controller => "rides", :action => "index" %><br/>
    <div id="home_choices_view_link">
      <%= link_to 'View available Rides', {:controller => "rides", :action =>
    "index"}, :id => "home_choices_view", :class => "welcome_links" %>
    </div>
  </div>

  <div id="home_choices_byoblogo">
  <%= image_tag "byob.png" %>
  </div>

  <div id="home_choices_create">
    <%= link_to image_tag("tom.png"), :controller => "rides", :action => "new" %><br/>
    <div id="home_choices_create_link">
      <%= link_to 'Create a Ride', {:controller => "rides", :action => "new"}, :id => 
      "home_choices_create", :class => "welcome_links" %>
    </div>
  </div>
</div>

<fb:fbml/>
