<fb:fbml>
<%= stylesheet_link_tag 'byob_style' %>

<div id="byob_home_bg" style="background-image: 
url(<%= image_path("new/byobhome.jpg") %>) ;">

  <div id="byob_home_nav">
    <%= link_to 'Home', 
    {:controller => "byob", :action =>"index"}%>
    <%= link_to 'Rides Listing', index_select_path %>
    <%= link_to 'Create a Ride', new_ride_path %>
  </div>

  <div id="byob_home_content">
    <div style="display: none;">
    <fb:tabs><fb:tab-item href="#" title="dummy"></fb:tab-item></fb:tabs>
    </div>

    <div id="r_show_fb_msg">
      <%= facebook_messages %>
    </div>

    <h1>BYOB</h1>
    <h3>Be Your Own Bus</h3>
    <br/>
    <h3 style="color: green">
      Welcome <%= fb_name @current_user, :firstnameonly => 
      true, :linked => false, :useyou => false %>. 
    </h3>

    <div id="current_user_rides">
      <table>
        <tr>
          <td><b><i>Ride Name</i></b></td>
          <td><b><i>Going to</i></b></td>
          <td><b><i>Leaving on</i></b></td>
        </tr>

        <tr>
          <td>Driving:</td>
        </tr>
        <% @rides_driving.each do |ride| %>
        <tr>
          <td><%= link_to ride[:ride_obj].name, ride[:ride_obj] %></td>
          <td><%=h ride[:ride_obj].place %></td>
          <td><%=h ride[:date] %></td>
        </tr>
        <% end %>

        <tr>
          <td>Riding:</td>
        </tr>
        <% @rides_riding.each do |ride| %>
        <tr>
          <td><%= link_to ride[:ride_obj].name, ride[:ride_obj] %></td>
          <td><%=h ride[:ride_obj].place %></td>
          <td><%=h ride[:date] %></td>
        </tr>
        <% end %>

        <tr>
          <td>Watching:</td>
        </tr>
        <% @rides_watching.each do |ride| %>
        <tr>
          <td><%= link_to ride[:ride_obj].name, ride[:ride_obj] %></td>
          <td><%=h ride[:ride_obj].place %></td>
          <td><%=h ride[:date] %></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<fb:fbml/>
