<h1>Editing ride</h1>

<% form_for(@ride) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :pickup %><br />
    <%= f.text_field :pickup %>
  </p>
  <p>
    <%= f.label :dropoff %><br />
    <%= f.text_field :dropoff %>
  </p>
  <p>
    <%= f.label :tocampus %><br />
    <%= f.text_field :tocampus %>
  </p>
  <p>
    <%= f.label :about %><br />
    <%= f.text_field :about %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @ride %> |
<%= link_to 'Back', rides_path %>