<div id="rides_title">
  <% if @view_past_rides %> 
    <h1>Old Rides</h1>
  <% else %>
    <h1>Rides</h1>
  <% end %>
</div>

<div id="rides_navigation">
  <%= link_to 'Home', :controller => 'byob' %> |
  <% if @view_past_rides %> 
    <%= link_to 'Current rides', rides_path %> |
  <% else %>
    <%= link_to 'Old rides', rides_path(:view_past_rides => true) %> |
  <% end %>
  <%= link_to 'New ride', new_ride_path %> 
  <hr/>
</div>

<div id="rides_listing_fromcampus_col">
<div id="rides_listing_fromcampus_title">Leaving from campus</div>
<%= image_tag("leaving.jpg") %> 
<table>
  <tr>
    <td><b><i>Ride Name</i></b></td>
    <td><b><i>Going to</i></b></td>
    <td><b><i>Leaving on</i></b></td>
  </tr>

  <% @rides_from_campus_with_dates.each do |ride| %>
  <tr>
    <td><%= link_to ride[:ride_obj].name, ride[:ride_obj] %></td>
    <td><%=h ride[:ride_obj].place %></td>
    <td><%=h ride[:date] %></td>
  </tr>
  <% end %>
</table>
</div>

<div id="rides_listing_tocampus_col">
<div id="rides_listing_tocampus_title">Going to campus</div>
<%= image_tag("coming.jpg") %> 
<table>
  <tr>
    <td><b><i>Ride Name</i></b></td>
    <td><b><i>Coming from</i></b></td>
    <td><b><i>Leaving on</i></b></td>
  </tr>

  <% @rides_to_campus_with_dates.each do |ride| %>
  <tr>
    <td><%= link_to ride[:ride_obj].name, ride[:ride_obj] %></td>
    <td><%=h ride[:ride_obj].place %></td>
    <td><%=h ride[:date] %></td>
  </tr>
  <% end %>
</table>
</div>


