<h1>Create a new ride</h1>
 
<% form_for(@ride) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name, "Your ride's name" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :tocampus, "Does this ride <u>leave</u> or <u>go to</u> campus?" %><br />
    <%= f.radio_button :tocampus, false %>Leaves campus
    <%= f.radio_button :tocampus, true %>Goes to campus
  </p>
  <p>
    <%= f.label :pickup, "Starting Place" %><br />
    <%= f.text_field :pickup %>
  </p>
  <p>
    <%= f.label :pickup_datetime, "Starting Date/Time" %><br />
    <%= f.text_field :pickup_datetime %>
  </p
  <p>
    <%= f.label :dropoff, "Ending Place" %><br />
    <%= f.text_field :dropoff %>
  </p>
  <p>
    <%= f.label :dropoff_datetime, "Ending Date/Time" %><br />
    <%= f.text_field :dropoff_datetime %>
  </p>
  <p>
    <%= f.label :about %><br />
    <%= f.text_area :about, :rows => 10 %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Rides Listing', rides_path %> |
<%= link_to 'Home', :controller => 'byob' %>
