<%= stylesheet_link_tag 'rides' %>
<%= stylesheet_link_tag 'rides_new_edit' %>
<%= stylesheet_link_tag 'calendar' %>
<%= javascript_include_tag 'calendar' %>
<%= javascript_include_tag 'input_prompt_text_helper' %>
<%= javascript_include_tag 'return_ride_date_enabler' %>

<% @place_options = ['Tinley Park', 'Westmont', 'Oakbrook'] %>

<fb:js-string var="dis"> 
  Something something
  <a href="www.google.com">goog</a>
</fb:js-string>

<script>
  function disclaimer_prompt(){
    var disclaimer = new Dialog(Dialog.DIALOG_POP);
    disclaimer.setStyle({'heigth': '300px'});
    disclaimer.onconfirm = submit_form;
    disclaimer.showChoice("Please read carefully", 
      "<%= escape_javascript(RidesController.byob_disclaimer) %>",
      button_confirm = "Agree", button_cancel = "Cancel");
  }
  function submit_form(){
    ride_form = document.getElementById("new_ride").submit();	
  }
  function disclaimer_prompt2(){
    var disclaimer = new Dialog(Dialog.DIALOG_POP);
    disclaimer.setStyle({'heigth': '300px'});
    disclaimer.showChoice("Please read carefully", 
      dis,
      button_confirm = "Agree", button_cancel = "Cancel");
  }
</script>

<div id="page_content"> 
  <%= render :partial => 'calendar' %>

  <% unless @ride.errors.empty? %>
    <div class="errorExplanation" id="errorExplanation">
      <h2>Please fix a couple things with your ride.</h2>
    </div>
  <% end %>

  <% price_prompt_text = @price_preset || "10" %>
  <script> var price_prompt_text = "<%= escape_javascript(price_prompt_text) %>"; </script>
  <% seats_available_prompt_text = @seats_total_preset || "3" %>
  <script> var seats_available_prompt_text = "<%=
  escape_javascript(seats_available_prompt_text) %>"; </script>


  <% form_for(@ride) do |f| %>
    <p>
      <%= f.label :name, "Name your ride" %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :price, "Price: $ " %>
      <%= f.text_field :price, :size => 3, :onfocus => "input_remove_prompt_text(this, 
      price_prompt_text);", :value => "#{price_prompt_text}",  :onblur =>
      "input_add_prompt_text(this, price_prompt_text);" %>
    </p>
    <p>
      <%= f.label :seats_total, "Seats available for other riders: " %>
      <%= f.text_field :seats_total, :size => 3, :onfocus => "input_remove_prompt_text(this, 
      seats_available_prompt_text);", :value => "#{seats_available_prompt_text}",  :onblur =>
      "input_add_prompt_text(this, seats_available_prompt_text);" %>
    </p>
    <p>
      <%= f.label :tocampus, "Does this ride <u>leave</u> or <u>go to</u> the UIUC campus?" %><br />
      <%= f.radio_button :tocampus, false %>Leaves campus
      <%= f.radio_button :tocampus, true %>Goes to campus
    </p>

    <p>
      <%= f.label :place, "Place" %><br />
      <fb:fbml version="1.1"> 
        <fb:typeahead-input name="ride[place]" autocomplete="off">  
          <% @place_options.each do |place| %>
            <fb:typeahead-option><%= place %></fb:typeahead-option>  
          <% end %>
        </fb:typeahead-input> 
      </fb:fbml>
      <br/>
      <span class="helper_text">
        click in and press down for options 
      </span>
    </p>

    <p>
      <%= f.label :start_datetime, "Starting Date/Time" %><br />
      <%= render :partial => 'calendar_form', :locals => 
      {:element_name => "ride[start_datetime]", 
      :current_datetime => @start_datetime_preset,
      :disabled => false} %> 
    </p>
    <% if @ride.errors.on(:start_datetime) %>
      <p class="datetime-errors">
      <% @ride.errors.on(:start_datetime).each do |e|%>
        <span class="validation-error"><%= e %></span><br/>
      <% end %>
      </p>
    <% end %>

    <p>
      <%= label :return_ride_desired, 
      "Will there be a return trip?" %><br />
      <%= check_box_tag :return_ride_desired, 1, @return_ride_desired, 
      {:onClick =>
      "return_ride_date_enabler(this, 'return_ride[start_datetime]')"} %>
      yes, on    
      <%= render :partial => 'calendar_form', :locals => 
      {:element_name => "return_ride[start_datetime]", 
      :current_datetime => @return_datetime_preset, 
      :disabled => (not @return_ride_desired)} %>
    </p>
    <% unless @ride.return_ride.nil? %>
      <% if @ride.return_ride.errors.on(:start_datetime) %>
        <p class="datetime-errors">
        <% @ride.return_ride.errors.on(:start_datetime).each do |e|%>
          <span class="validation-error"><%= e %></span><br/>
        <% end %>
        </p>
      <% end %>
    <% end %>

    <div id="rides_form_about">
      <%= f.label :about, nil, :class => "input_label" %>
      <br />
      <div id="rides_form_about_input">
        <%= f.text_area :about, :rows => 10 %>
      </div>
      <div id="rides_form_about_detail_prompt">
        <span class="about_text">
          Enter any additional info here.<br/>
          <ul type="disc">
          <li>  • price details/flexibility </li>
          <li>  • time/place flexibility </li>
          <li>  • just guys or just girls </li>    
          <li>  • amount of trunk space </li>
          <li>  • type of car </li>
          <li>  • music preference </li> 
          <li>  • etc.</li>
          </ul>
        </span>
      </div>
    </div>

    <div id="rides_form_submit"> 
      <p>
        <%= link_to_function 'Create', "disclaimer_prompt()", 
        :class => "fb_button" %> 
      </p>

    </div>
  <% end %>
</div>
