<%= stylesheet_link_tag 'calendar' %>
<%= javascript_include_tag 'calendar' %>
<%= javascript_include_tag 'input_prompt_text_helper' %>

<%= render :partial => 'calendar' %>

<div id="rides_title">
    <h1>Create a new ride</h1>
</div>

<div id="rides_navigation">
  <%= link_to 'Home', :controller => 'byob' %> |
  <%= link_to 'Rides Listing', rides_path %> 
  <hr/>
</div>

<% unless @ride.errors.empty? %>
  <div class="errorExplanation" id="errorExplanation">
    <h2>Please fix a couple things with your ride.</h2>
  </div>
<% end %>

<% price_prompt_text = @price_preset || "10" %>
<script> var price_prompt_text = "<%= escape_javascript(price_prompt_text) %>"; </script>
<% seats_available_prompt_text = @seats_total_preset || "3" %>
<script> var seats_available_prompt_text = "<%=
escape_javascript(seats_available_prompt_text) %>"; </script>

<% form_for(@ride) do |f| %>
  <p>
    <%= f.label :name, "Your ride's name" %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :price, "Price: $ " %>
    <%= f.text_field :price, :size => 3, :onfocus => "input_remove_prompt_text(this, 
    price_prompt_text);", :value => "#{price_prompt_text}",  :onblur =>
    "input_add_prompt_text(this, price_prompt_text);" %>
  </p>
  <p>
    <%= f.label :seats_total, "Seats available for other riders: " %>
    <%= f.text_field :seats_total, :size => 3, :onfocus => "input_remove_prompt_text(this, 
    seats_available_prompt_text);", :value => "#{seats_available_prompt_text}",  :onblur =>
    "input_add_prompt_text(this, seats_available_prompt_text);" %>
  </p>
  <p>
    <%= f.label :tocampus, "Does this ride <u>leave</u> or <u>go to</u> the UIUC campus?" %><br />
    <%= f.radio_button :tocampus, false %>Leaves campus
    <%= f.radio_button :tocampus, true %>Goes to campus
  </p>
  <p>
    <%= f.label :pickup, "Starting Place" %><br />
    <%= f.text_field :pickup %>
  </p>

  <p>
    <%= f.label :pickup_datetime, "Starting Date/Time" %><br />
    <%= render :partial => 'calendar_form', :locals => 
    {:element_name => "ride[pickup_datetime]", :current_datetime =>
    @pickup_datetime_preset} %> 
  </p>
  <% if @ride.errors.on(:pickup_datetime) %>
    <p class="datetime-errors">
    <% @ride.errors.on(:pickup_datetime).each do |e|%>
      <span class="validation-error"><%= e %></span><br/>
    <% end %>
    </p>
  <% end %>

  <p>
    <%= f.label :dropoff, "Ending Place" %><br />
    <%= f.text_field :dropoff %>
  </p>

  <p>
    <%= f.label :dropoff_datetime, "Ending Date/Time" %><br />
    <%= render :partial => 'calendar_form', :locals => 
    {:element_name => "ride[dropoff_datetime]", :current_datetime =>
    @dropoff_datetime_preset} %> 
  </p>
  <% if @ride.errors.on(:dropoff_datetime) %>
    <p class="datetime-errors">
    <% @ride.errors.on(:dropoff_datetime).each do |e|%>
      <span class="validation-error"><%= e %></span><br/>
    <% end %>
    </p>
  <% end %>

  <div id="rides_form_about">
    <%= f.label :about, nil, :class => "input_label" %>
    <br />
    <div id="rides_form_about_input">
      <%= f.text_area :about, :rows => 10 %>
    </div>
    <div id="rides_form_about_detail_prompt">
        Enter any additional info here.<br/>
        <ul type="disc">
        <li>  • price details/flexibility </li>
        <li>  • time/place flexibility </li>
        <li>  • just guys or just girls </li>    
        <li>  • amount of trunk space </li>
        <li>  • type of car </li>
        <li>  • music preference </li> 
        <li>  • etc.</li>
        </ul>
    </div>
  </div>

  <div id="rides_form_submit"> 
    <p>
      <%= f.submit 'Create', :class => "fb_button" %>
    </p>
  </div>
<% end %>

