<p>
  <h1>
    <%=h @ride.name %>
  </h1>
</p>

<p>
  Price: $<%= @ride.price %>
  <br/>
  Seats: <%= @ride.seats_available %>/<%= @ride.seats_total %> available
</p>

<p>
  <% if @ride.tocampus %>
    This ride is <u>going to campus</u>
  <% else %>
    This ride is <u>leaving campus</u>
  <% end %>
</p>

<p>
  <b>Starting info:</b>
  <br/>
  Leaving from <%=h @ride.pickup %> <br/> 
  <%=h @ride_pickup_datetime_formatted %>.
  <br/>
  <b>Ending info:</b>
  <br/>
  Going to <%=h @ride.dropoff %> <br/>
  <%=h @ride_dropoff_datetime_formatted %>.
  <br/>
</p>

<p>
  <b>People:</b>
  <br/>
  <div id="ride_person">
  <% if (@driver_info['pic'] and @driver_info['profile_url']) %>
    <%= link_to image_tag(@driver_info['pic']), @driver_info['profile_url'] %> 
  <% end %>
  <br/>
  <% if (@driver_info['name'] and @driver_info['profile_url']) %>
    <%= link_to @driver_info['name'], @driver_info['profile_url'] %> is driving.
  <% end %>
  </div>
  <br/>
  <% if @passengers_info.empty? %>
    And no one else is along for the ride.<br/>
  <% else  %>
    <% @passengers_info.each do |pi| %>
      <div id="ride_person">
      <% if (pi['pic'] and pi['profile_url']) %>
        <%= link_to image_tag(pi['pic']), pi['profile_url'] %>
      <% end %>
      <br/>
      <% if (pi['name'] and pi['profile_url']) %>
        <%= link_to pi['name'], pi['profile_url'] %>
        <% if @user_is_driver %>
          (<%= link_to 'kick', kick_ride_path(:id => @ride, :passenger_id =>
          pi['passenger_id']) %>)
        <% end %>
        , 
      <% end %>
      </div>
    <% end %>
    are along for the ride.
  <% end %>
</p>

<p>
  <b>More info:</b>
  <br/>
  <%=h @ride.about %>
</p>

<% if @publish_ride_joined %>
  <script>
  Facebook.streamPublish("is going to <%=h @ride.dropoff %> at<%=h @ride_pickup_datetime_formatted %>",null,null,null,"Tell others about this ride");
  </script>
<% end %> 
<% if @publish_ride_created%>
  <script>
  Facebook.streamPublish("is driving to <%=h @ride.dropoff %> at<%=h @ride_pickup_datetime_formatted %>",null,null,null,"Tell others about this ride");
  </script>
<% end %> 
 

<%= link_to 'Ride it', join_ride_path(@ride) %> |
<% if @user_is_a_passenger %>
  <%= link_to 'Leave Ride', leave_ride_path(@ride) %> |
<% end %>
<% if @user_is_driver %>
  <%= link_to 'Edit', edit_ride_path(@ride) %> |
<% end %>
<% if @user_is_driver %>
<%= link_to 'Delete', @ride, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'Back', rides_path %> |
<%= link_to 'Home', :controller => "byob" %>
