
<%# if @publish_ride_joined %>
<% if false %>
  <script>
  Facebook.streamPublish("is going to <%=h @ride.dropoff %> at <%=h @ride_pickup_datetime_formatted %>",null,null,null,"Tell others about this ride");
  </script>
<% end %> 
<%# if @publish_ride_created%>
<% if false %>
  <script>
  Facebook.streamPublish("is driving to <%=h @ride.dropoff %> at <%=h @ride_pickup_datetime_formatted %>",null,null,null,"Tell others about this ride");
  </script>
<% end %> 

<div id="rides_title">
  <h1>
    <%=h @ride.name %>
  </h1>
</div>

<div id="rides_navigation">
  <% unless @user_is_a_passenger %>
  <%= link_to 'Ride it', join_ride_path(@ride) %> |
  <% end %>
  <% if @user_is_a_passenger %>
    <%= link_to 'Leave Ride', leave_ride_path(@ride) %> |
  <% end %>
  <% if @user_is_driver %>
    <%= link_to 'Edit', edit_ride_path(@ride) %> |
  <% end %>
  <% if @user_is_driver %>
  <%= link_to 'Delete', @ride, :confirm => 'Are you sure?', :method => :delete %> |
  <% end %>
  <%= link_to 'Rides Listing', rides_path %> |
  <%= link_to 'Home', :controller => "byob" %>
  <hr/>
</div>


<div id="rides_show_driver_box">
  <p><b>Driver:</b></p>
  <div id="rides_show_driver_profile">
    <%# if (@driver_info['pic'] and @driver_info['profile_url']) %>
      <%# link_to image_tag(@driver_info['pic']), @driver_info['profile_url'] %> 
      <%= fb_profile_pic @driver, :size => "normal" %>
    <%# end %>
    <%# if (@driver_info['name'] and @driver_info['profile_url']) %>
      <div class="rides_show_profile_caption">
        <%# link_to @driver_info['name'], @driver_info['profile_url'] %>
        <%= fb_name @driver %> 
      </div>
    <%# end %>
  </div>
</div>


<div id="rides_show_info_box">
  <p><b>Details:</b></p>
  <div id="rides_show_info">
  <p>
    Price: $<%= @ride.price %>
    <br/>
    Seats: <%= @ride.seats_available %>/<%= @ride.seats_total %> available
  </p>

  <p>
    <% if @ride.tocampus %>
      This ride is <u>going to the UIUC campus</u>
    <% else %>
      This ride is <u>leaving the UIUC campus</u>
    <% end %>
  </p>

  <p>
    <b>Starting info:</b>
    <br/>
    Leaving from <%=h @ride.pickup %> <br/> 
    <%=h @ride_pickup_datetime_formatted %>.
    <br/>
    <b>Ending info:</b>
    <br/>
    Going to <%=h @ride.dropoff %> <br/>
    <%=h @ride_dropoff_datetime_formatted %>.
    <br/>
  </p>

  <% unless @ride.about == "" %> 
    <p>
      <b>More info:</b>
      <br/>
      <%=h @ride.about %>
    </p>
  <% end %>
  </div>
</div>


<div id="rides_show_passengers">
  <% if @passengers_info.empty? %>
    <p>And no one else is along for the ride.</p>
  <% else  %>
    <p>
      <b>Along for the ride:</b>
    </p>
    <% @passengers_info.each do |pi| %>
      <div class="rides_show_passenger_profile">
        <div class="rides_show_passenger_pic"> 
          <%# if (pi['pic'] and pi['profile_url']) %>
            <%# link_to image_tag(pi['pic']), pi['profile_url'] %>
            <%= fb_profile_pic pi["user"], :size => "small" %>
          <%# end %>
        </div>
        <%# if (pi['name'] and pi['profile_url']) %>
          <div class="rides_show_profile_caption">
            <%# link_to pi['name'], pi['profile_url'] %>
            <%= fb_name pi["user"] %>
            <% if @user_is_driver %>
              <br/>
              (<%= link_to 'kick', kick_ride_path(:id => @ride, :passenger_id =>
              pi['passenger_id']) %>)
            <% end %>
          </div>
        <%# end %>
      </div>
    <% end %>
  <% end %>
</div>

<div id="rides_wall">
  <p>
    <b>Talk:</b>
  </p>
  <div id="rides_wall_post_entry_box">
    <div id="rides_wall_post_entry_form">
      <% form_for Comment.new do %>
        <%= text_area_tag :body, nil, :class => 
        "rides_wall_post_entry_form_text" %> <br/>
        <%= hidden_field_tag :ride_id,@ride.id %>
        <div id="rides_wall_fb_button_box">
          <%= submit_tag 'Say it', :class => "rides_wall_fb_button" %>
        </div>
      <% end %>
    </div>
  </div>

  <% fb_wall do %>
    <% for comment in @comments %>
      <fb:wallpost uid="<%= comment.user.facebook_id %>" t="<%=
      comment.created_at.to_i%>"> 
       <%= h(comment.body) %>
      </fb:wallpost>
    <% end %>
  <% end %>
</div>




